#contenido_principal{
    display: grid;
    grid-template-areas:
                        'inicio'
                        'indice';  
    background-color: #FFFFF7;   
}

#InicioProductos{
    grid-area: inicio;

    height: 100px;

    background-color: #F7DC6F; 
    color: #FFFFFF;
    font-family: Pastelito;
    font-size: 550%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#indice{
    grid-area: indice;
    height: auto;

    background-color: #FEF5E7;
}

.Seccion_carta{
    background-color: /*rgba(249, 231, 159, 0.801)*/ #FFF;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: auto;
    width: 95%;
    margin: auto;    
}

h3{
    background-color: rgba(248, 196, 113, 0.849);
    margin: 5px auto;
    width: 80%;
    font-size: 40px;
    font-family: PieDePollo;
    text-align: center;
    color: #7B241C;
}

.elemento_sec{
    width: 600px;
    height: 260px;
    display: flex;
    border: 3px solid #CD6155;
    margin-bottom: 5px;
}   

.descripcion{
    width: 60%;
    margin: 0px;
}

.nomplatillo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: frijol;
    background-color: #FFFFFF;   
    height: 20%;
}

.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: frijol;
    background-color: #FFFFFF;
    padding: 3px 5px;  
    height: 75%;
}

.img_desc{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	   
    width: 40%;
    height: 100%;
}

#PiedePagina{
    height: 90px;
    margin-top: 20px;
    background-color: #DAF7A6;
}