body{
    height: 100%;;
}
.ContenedorP{
    height: 100%;   
    display: grid;
    grid-template-areas:'barra'
                        'inicio'
                        'indice'          
                        ;  
    background-color: #FFFFF7;                      

}
#InicioProductos{
    background-color: #F7DC6F ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    grid-area: inicio; 
    color: #FFFFFF;
    font-family: Pastelito;
    font-size: 550%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
#InicioProductos > p{
    margin: 0px;
}
#indice{
    background-color: #FEF5E7;
    height: auto;
    margin: 0px;
    grid-area: indice;
}
#Extra{
    grid-area: Extra;
    height: 20px;
    width: 100%;
}
.Seccion_carta{
    background-color: /*rgba(249, 231, 159, 0.801)*/ #FFF;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: auto;
    width: 95%;
    margin: auto;    
}
h3{
    background-color: rgba(248, 196, 113, 0.849);
    margin: 5px auto;
    width: 80%;
    font-size: 40px;
    font-family: PieDePollo;
    text-align: center;
    color: #7B241C;
}
.elemento_sec{
    width: 600px;
    height: 260px;
    display: flex;
    border: 3px solid #CD6155;
    margin-bottom: 5px;
}   
.descripcion{
    width: 60%;
    margin: 0px;
}
.nomplatillo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: frijol;
    background-color: #FFFFFF;
    margin: 0px;    
    height: 20%;
}
.contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: frijol;
    background-color: #FFFFFF;
    padding: 3px 5px;
    margin: 0px;   
    height: 75%;
}
.img_desc{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	   
    width: 40%;
    height: 100%;
}
#PiedePagina{
    height: 90px;
    margin-top: 20px;
    background-color: #DAF7A6;
}