:root{
    --color-titulos: #900C3F;
    --color-fondo-primario: rgb(252, 240, 195);
}

div, p{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 248, 248);
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

a:link, a:visited, a:active {
    text-decoration:none;
    font-family: Handmade;
    color: black;
}

html{
    scroll-behavior: smooth;
}

.ContenedorMadre{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'barra'
        'contenido'
        'footer';
    /*grid-template-areas:'barra'
                        'inicio'
                        'Conocenos'
                        'Productos'
                        'Extra'
                        'footer'; */ 
    background-color: #FFFFFF;                      

}
/*------------------- CONTENIDO PRINCIPAL -------------------------*/
#contenido_principal{
    grid-area: contenido;
}

/*------------------------------- CSS PARA MENU DE NAVEGACION -----------------------------*/
#menu{
    background-color: rgb(252, 240, 195);
    display: flex;
    grid-area: barra;
}

#Marca{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    font-size: 60px;
    border-bottom: 3px solid black;
}

#Marca p{    
    padding-top: 20px;
    font-family:LetraBonita;
}

#Paginas{
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.navegador {            
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid black;
}

.navegador p{
    font-size: 25px;
    font-family: Handmade;
}

.navegador:hover {            
    border-bottom: 5px solid rgba(5, 235, 16, 0.932);
    background-color: white;
}

#menu .icono{
    width: 80px;
    height: 80px;

    display: none;
}

/*--------------------- FOOTER -------------------------*/
#Footer{
    margin-top: 20px;
    padding-left: 20px;
    
    display: flex;
    align-items: center;

    grid-area: footer;

    background-color: #DAF7A6;
}

/*--------------------- MEDIA QUERIES ------------------*/

@media(max-width: 850px){
    /*---------------------- MENU ----------------------*/
    #menu{
        border-bottom: 3px solid black;

        justify-content: space-between;
    }

    #Marca{
        width: 50%;

        font-size: 42px;
        border: none;
    }

    #Marca img{
        width: 65px;
        height: 65px;
    }

    #Paginas{
        width: 100%;
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 80px;
        right: -100%;

        transition: right 1s ease;
        background-color: var(--color-fondo-primario);
    }

    #menu .icono{
        padding-right: 15px;
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: right;
    }
    .elemento_sec{
        width: 300px;
        height: 200px;
        display: flex;
        border: 3px solid #CD6155;
        margin-bottom: 5px;
    } 
    #indice li{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    
}

@media(max-width: 400px){
    /*-------------------- MENU --------------------------*/
    #Marca{
        width: 70%;
        font-size: 32px;
    }

    #Marca img{
        width: 50px;
        height: 50px;
    }

    #menu .icono{
        width: 30%;
    }

    #menu .icono img{
        width: 30px;
        height: 30px;
    }
}
/*---------------------- PRODUCTOS -------------------------*/