body{
    background-color: rgb(255, 248, 220);
    padding: 0px;
    margin: 0px;
    height: auto;
}
a:link, a:visited, a:active {
    text-decoration:none;
    font-family: Handmade;
    color: black;
}
html{
    scroll-behavior: smooth;
}
.ContenedorMadre{
    height: 100%;
    display: grid;
    grid-template-areas:'barra'
                        'inicio'
                        'Conocenos'
                        'Productos'
                        'footer';  
    background-color: #FFFFFF;                      

}
#Inicio{
    background-image:url('../img/Fondo2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 90%;
    margin: 20px auto;
    grid-area: inicio; 
    color: #FFFFFF;
    border-radius: 30px;
}
#Inicio > p{       
    font-family: Pastelito;
    font-size: 550%;
    left: 50%;
    position: absolute;
    top: 40%;  
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(176, 93, 77, 0.4);    
}
/*----- CSS PARA MENU DE DESPLAZAMIENTO*/
#menu{
    background-color: rgb(252, 240, 195);
    height: 80px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
    grid-area: barra;    
}

#Paginas{
    display: flex;
    justify-content: space-around;
    width: 65%;
}
#Marca{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    border-bottom: 3px solid black;
}
#Marca p{    
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    font-size: 60px;
    font-family:LetraBonita;
}
.navegador {            
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-bottom: 3px solid black;
}
.navegador p{
    font-size: 25px;
    font-family: Handmade;
}
.navegador:hover {            
    border-bottom: 5px solid rgba(5, 235, 16, 0.932);
    background-color: white;
}
.Contenedor{
    height: 300px;
    width: 85%;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    margin: 10px auto;
}
/*--------  CONOCENOS -------*/
.Info{
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 15px;
}
.Titulo {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color:rgb(255, 160, 122);
}
.Titulo > p{
    color: white;    
    font-family: PieDePollo;
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px;
}
.inf-nosotros{
    background-color:rgb(252, 240, 195); 
    border: 3px solid #CD6155;
}  
.inf-nosotros > p{
    color: #900C3F;    
}

#quienesSomos{
    background-image: url('../img/QuienesSomos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #CD6155;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75%;      
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family: Frijol;
    font-style: italic;
    padding: 10px 10px; 
}
#Delatierra{
    background-image:url('../img/dltmIndex.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #CD6155;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75%;      
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family: Frijol;
    font-style: italic;
    padding: 10px 10px;    
}
#Delatierra > p{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    vertical-align: middle;   
    font-family: Frijol;
    color: #FFFFFF;
    font-size: 2em;
    background-color: rgba(252, 240, 195, 0.575);  
    color: black;  
}
#quienesSomos > p{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    vertical-align: middle;   
    font-family: Frijol;
    color: #FFFFFF;
    font-size: 2em;
    background-color: rgba(252, 240, 195, 0.575);  
    color: black; 
} 
#algomas{
    background-image:url('../img/Ensalda1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #CD6155;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75%;      
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family: Frijol;
    font-style: italic;
    padding: 10px 10px;
}
#algomas > p{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    vertical-align: middle;   
    font-family: Frijol;
    color: #FFFFFF;
    font-size: 2em;
    background-color: rgba(252, 240, 195, 0.575);  
    color: black;  
}

/*-------------------------- FIN CONOCENOS  -----------------------*/
#Productos .Descripcion{
    height: 75%;
   background-image: url(../img/PlatoRico.jpg); 
   background-size: cover;
}
.Descripcion{
    border: 3px solid rgb(255, 160, 122);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 75%;      
    margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family: Frijol;
    font-style: italic;
    padding: 10px 10px;
}
/* NOTA : ELiminar etiqueta p de descripcion*/

#Productos{
    margin-top: 40px ;
    grid-area: Productos;
}

#Conocenos{
    grid-area: Conocenos;
}
#Footer{
    grid-area: footer;
    background-color: lightslategray;
    height: 100px;
    margin-top: 20px;

}
